//@import headPartial.sass

$font-stack: Helvetica, sans-serif
$primary-color: #3361ab
$grey: #85888d

//screen width condition
$small-screen: 320px
$large-screen: 1200px


=border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius:    $radius
    -ms-border-radius:     $radius
    border-radius:         $radius

=box-shadow($top,$left,$blur,$color)
    -webkit-box-shadow: $top $left $blur $color
    -moz-box-shadow:    $top $left $blur $color
    box-shadow:         $top $left $blur $color

=transition($obj,$speed,$Curve)
    -webkit-transition: $obj $speed $Curve
    -moz-transition:    $obj $speed $Curve
    -o-transition:      $obj $speed $Curve
    transition:         $obj $speed $Curve

//slide test
.normalise
    font: 100%/1.4em 'Helvetica Neue',Helvetica,Arial,sans-serif
    margin: 0 auto
    color: #222
    -webkit-text-size-adjust: none
    -webkit-font-smoothing: antialiased

html
    @extend .normalise
    font-family: sans-serif
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    height: 100%
    overflow: hidden


body
    @extend .normalise
    background: #fff
    margin: 0
    width: auto !important
    height: 100%
    overflow: hidden !important



.menu
    background-image: linear-gradient(145deg, #1D1F20, #404348)

a
    color: $grey
    text-decoration: none
    &:hover
        color: #fff

.menu
    a
    color: $grey
    &:hover
        color: #fff

.menu-header
    border-bottom: 1px solid #2a2d2f
    padding: 20px
    background-size: 32px

.menu-header-title
    font-weight: 400
    letter-spacing: 0.5px
    margin: 0
    color: $grey

.menu-section
    margin: 25px 0

.menu-section-title
    text-transform: uppercase
    color: $grey
    font-weight: 200
    font-size: 13px
    letter-spacing: 1px
    padding: 0 20px
    margin: 0

.menu-section-list
    padding: 0
    margin: 10px 0 0 20px
    list-style: none

.panel
    text-align: center
    padding-top: 5px
    min-height: 100%
    background: white
    left: 0px

.panel-header
    height: 3em
    margin-bottom: 1em
    margin-top: 1em
    .mainIcon
        margin-left: 0.6em
        margin-right: 0.6em
        display: inline-block
        float: left
        font-size: 35px

    .notificationIcon
        margin-left: 0.6em
        margin-right: 0.6em
        .left
            position: relative
            float: left
            padding: 0.8em
            background: #FFF
            color: black
            font: bold 11px "Helvetica"
            text-decoration: none

            +border-radius(20px)
            +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
            +transition(all, 0.3s, ease)

            &:before
                background: gray
                color: #FFF
                content: "<"
                display: inline-block
                font: bold 11px "Georgia"
                height: 25px
                line-height: 25px
                margin-right: 10px
                text-align: center
                width: 25px

                +border-radius(20px)
            &:hover
                +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
                +transition(all, 0.3s, ease)
        .right
            position: relative
            float: right
            padding: 0.8em
            background: #FFF
            color: black
            font: bold 11px "Helvetica"
            text-decoration: none

            +border-radius(20px)
            +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
            +transition(all, 0.3s, ease)

            &:after
                background: gray
                color: #FFF
                content: ">"
                display: inline-block
                font: bold 11px "Georgia"
                height: 25px
                line-height: 25px
                margin-left: 10px
                text-align: center
                width: 25px

                +border-radius(20px)
            &:hover
                +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
                +transition(all, 0.3s, ease)
        .store
            position: relative
            float: right
            padding: 0.8em
            background: #FFF
            color: black
            font: bold 11px "Helvetica"
            text-decoration: none

            +border-radius(20px)
            +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
            +transition(all, 0.3s, ease)

            &:after
                background: #a40000
                color: #FFF
                content: "S"
                display: inline-block
                font: bold 11px "Georgia"
                height: 25px
                line-height: 25px
                margin-left: 10px
                text-align: center
                width: 25px
                +border-radius(20px)
            &:hover
                +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
                +transition(all, 0.3s, ease)

        .return
            position: relative
            float: left
            padding: 0.8em
            background: #FFF
            color: black
            font: bold 11px "Helvetica"
            text-decoration: none

            +border-radius(20px)
            +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
            +transition(all, 0.3s, ease)

            &:after
                background: #a40000
                color: #FFF
                content: "R"
                display: inline-block
                font: bold 11px "Georgia"
                height: 25px
                line-height: 25px
                margin-left: 10px
                text-align: center
                width: 25px
                +border-radius(20px)
            &:hover
                +box-shadow(0px, 0px, 10px, rgba(0, 0, 0, .25))
                +transition(all, 0.3s, ease)

        i
            font-size: 35px
        &:hover
            cursor: pointer


.panel-footer
    p
        text-align: center

.slideout-menu
    position: fixed
    left: 0
    top: 0
    bottom: 0
    right: 0
    z-index: 0
    width: 256px
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    display: none

.slideout-panel
    position: relative
    z-index: 1

.slideout-open
    overflow: hidden

.slideout-open
    body
        overflow: hidden

.slideout-open
    .slideout-menu
        overflow: hidden

.slideout-open
    .slideout-menu
        display: block

.js-slideout-toggle
    float: left

    //*****************
    //three line menu
    //*****************
.box-shadow-menu
    height: 1em
    font-size: 3em
    position: relative
    padding-left: 1.5em
    padding-right: 1em
    &:before
        content: ""
        position: absolute
        left: 0.5em
        top: 0.25em
        width: 1em
        height: 0.15em
        background: $grey
        box-shadow: 0 0.25em 0 0 $grey,0 0.5em 0 0 $grey


    //*******************
    //box container css
    //*******************
.box
    width: 100%
    height: 100%
    background: white

.box div
    padding: 10px
    border: solid 2px blue


    //*******************
    //item css
    //*******************

.items
    height: atuo
    overflow: hidden
    list-style: none
    position: absolute
    display: block
    margin: 10px 0 10px 0
    width: 120%
    left: -15%
    +transition(all, 0.5s, ease)
    &:hover
        cursor: pointer

.items-active
    +transition(all, 0.5s, ease)
    left: 5%

.delBtn
    opacity: 1
    &:hover
        cursor: pointer

.delBtn-active
    opacity: 1

//***************
//main section + barcode
//***************

.slider
    position: absolute
    width: 100%

.mainSection
    height: 200px
    width: 100%

.Barcode
    border: solid 1px black
    padding: 5px
    &:hover
        cursor: pointer

.divider
    margin-bottom: 100px

//*********************
//test unit
//*********************

.barCodeContainer
    height: auto

.list
    list-style: none outside none
    margin: 10px 0 30px

.item
    width: 110%

    @media screen and (min-width: $small-screen)
        height: 350px
        left: -20px
    @media screen and (max-width: $large-screen)
        height: 160px
        left: -20px

    background-color: #fafafa
    margin-top: 0
    margin-bottom: 30px
    position: relative
    transition: all 0.3s linear
    background-color: #fff
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15)
    &:hover
        background-color: #fafafa
    &:after
        position: absolute
        z-index: 2
        height: 5px
        bottom: -5px
        left: 0
        width: 0
        background-color: #242c42
        transition: all 0.5s ease

.logList
    margin-top: 20px
    width: 150px
    min-height: 200px
    padding: 5px 15px
    border: 5px solid #000
    border-radius: 15px

.logList
    &:before
        content: 'log'
        padding: 0 5px
        position: relative
        top: -1.1em
        background-color: #FFF

.floatleft
    float: left

.clear
    clear: both

.myHandle
    display: inline-block
    height: 20px
    width: 20px
    vertical-align: right
    cursor: move
    i
        font-size: 30px
        color: black
        display: table-cell
        vertical-align: top

.myDelBtn
    display: inline-block
    height: 20px
    width: 20px
    vertical-align: right
    background-color: purple
    cursor: pointer

//view css
.viewHead
    background-color: #e5e5e5
    height: 50px
    display: block
    padding: 10px
    color: #fafafa

.viewIcon
    margin-right: 20px
    font-size: 20px
    float: left
    i
        color: black
        font-size: 30px

.viewTitle
    margin-right: 20px
    font-size: 20px
    float: right
    i
        font-size: 30px
    &:hover
        cursor: pointer

.viewFooter
    margin-top: 15px
    height: 30px
    display: block
    span
        text-align: center
        font-size: 15px

.viewMove
    i
        color: black
        font-size: 30px
        display: table-cell
        vertical-align: top

//loading page css

#loader-wrapper
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1000
    .loader-section
        position: fixed
        top: 0
        width: 100%
        height: 100%
        background: #1b1b1b
        z-index: 1000
        -webkit-transform: translateX(0)  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0)  /* IE 9 */
        transform: translateX(0)  /* Firefox 16+, IE 10+, Opera */
        .section-left
            left: 0
        .section-right
            right: 0

.loaded
    #loader-wrapper
        .loader-section
            visibility: hidden
            -webkit-transform: translateY(-100%)  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%)  /* IE 9 */
            transform: translateY(-100%)  /* Firefox 16+, IE 10+, Opera */
            -webkit-transition: all 0.3s 1s ease-out
            transition: all 0.3s 1s ease-out
            .section-left
                -webkit-transform: translateX(-100%)  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: translateX(-100%)  /* IE 9 */
                transform: translateX(-100%)  /* Firefox 16+, IE 10+, Opera */
                -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
            .section-right
                -webkit-transform: translateX(100%)  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: translateX(100%)  /* IE 9 */
                transform: translateX(100%)  /* Firefox 16+, IE 10+, Opera */
                -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
    #loader
        opacity: 0
        +transition(all, 0.3s, ease-out)

#loader
    display: block
    position: relative
    left: 50%
    top: 50%
    width: 150px
    height: 150px
    margin: -75px 0 0 -75px
    border-radius: 50%
    border: 3px solid transparent
    border-top-color: #3498db
    -webkit-animation: spin 2s linear infinite /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001
    &:before
        content: ""
        position: absolute
        top: 5px
        left: 5px
        right: 5px
        bottom: 5px
        border-radius: 50%
        border: 3px solid transparent
        border-top-color: #e74c3c
        -webkit-animation: spin 3s linear infinite /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite /* Chrome, Firefox 16+, IE 10+, Opera */
    &:after
        content: ""
        position: absolute
        top: 15px
        left: 15px
        right: 15px
        bottom: 15px
        border-radius: 50%
        border: 3px solid transparent
        border-top-color: #f9c922
        -webkit-animation: spin 1.5s linear infinite /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite /* Chrome, Firefox 16+, IE 10+, Opera */

@-webkit-keyframes spin
    0%
        -webkit-transform: rotate(0deg)  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg)  /* IE 9 */
        transform: rotate(0deg)  /* Firefox 16+, IE 10+, Opera */
    100%
        -webkit-transform: rotate(360deg)  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg)  /* IE 9 */
        transform: rotate(360deg)  /* Firefox 16+, IE 10+, Opera */

@keyframes spin
    0%
        -webkit-transform: rotate(0deg)  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg)  /* IE 9 */
        transform: rotate(0deg)  /* Firefox 16+, IE 10+, Opera */
    100%
        -webkit-transform: rotate(360deg)  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg)  /* IE 9 */
        transform: rotate(360deg)  /* Firefox 16+, IE 10+, Opera */

//gallary widget
.gallery-content
    .grid-item
        -webkit-box-shadow: -5px 5px 30px 0px rgba(229,229,229,1)
        -moz-box-shadow: -5px 5px 30px 0px rgba(229,229,229,1)
        box-shadow: -5px 5px 30px 0px rgba(229,229,229,1)
        float: left
        width: 33.33%
        overflow: hidden
        height: auto
        &:before
            content: ""
            display: block
        .content
            position: absolute
            content: ''
            width: 50px
            height: 50px
            background: url(../images/lib-pictures/icon-plus.png)
            background-size: cover
            left: 50%
            top: 50%
            margin-left: -25px
            margin-top: -25px
            color: #fff
            opacity: 0
            z-index: 2
            transition: all 0.5s ease
        &:hover
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)
            z-index: 10
            img
                -webkit-transform: scale(1.5)
                transform: scale(1.5)
        img
            @media screen and (min-width: $small-screen)
                height: 300px
            @media screen and (max-width: $large-screen)
                height: 110px
            width: auto
            webkit-transition: all 0.5s ease
            transition: all 0.5s ease
            padding: 15px 10px 15px 10px
        .grid-text
            @media screen and (min-width: $small-screen)
                height: 290px
            @media screen and (max-width: $large-screen)
                height: 100px
            width: auto
            padding: 15px 10px 15px 10px
            font-size: 10px
            text-align: left
            overflow: hidden

//step navigation css
.stepImg
    width: 90%
    display: block
    margin: auto

.frame
    width: 110px
    height: 0px
    margin: 0 auto
    position: relative
    cursor: pointer

    &:hover
        .hex-inner
            height: 55px
            border-radius: 30px
        .label
            transform: scale(.90)
            -webkit-transform: scale(.90)
    &:active
        .hex-inner
            height: 55px
            border-radius: 30px
        .label
            transform: scale(.90)
            -webkit-transform: scale(.90)

.hex-outer
    background: #1b1b1b
    width: 110px
    height: 63px


.hex-inner
    background: white
    width: 100px
    height: 55px
    left: 5px
    top: 3px
    position: relative
    border-radius: 0
    transition: all .4s
    -webkit-transition: all .4s

.h1
    position: absolute


.h2
    position: absolute
    transform: rotate(60deg)
    -webkit-transform: rotate(60deg)

.h3
    position: absolute
    transform: rotate(-60deg)
    -webkit-transform: rotate(-60deg)

.stepIcon
    position: absolute
    color: #1b1b1b
    font-weight: bold
    font-size: 60px
    left: 24px
    top: 5px
    transition: all .4s
    -webkit-transition: all .4s

.imageWrap
    margin-top: 120px
    width: 100%
    text-align: center


//textarea css
textarea.notebook
    font-family: 'Open Sans', Arial, Helvetica, sans-serif
    font-weight: 700
    width: 100%
    padding: 5px 0px
    margin-bottom: 20px
    resize: vertical
    font-size: 11px
    line-height: 24px
    border-bottom: 2px solid
    border-top: none
    border-left: none
    border-right: none
    -webkit-appearance: none
    border-radius: 0
    background: url(../img/notebook.png)

input::-webkit-input-placeholder
    color: #a40000

input::-moz-placeholder
    color: red

input::-ms-input-placeholder
    color: red

.stepInput
    width: 50%
    height: 3em
    font-size: 15px
    padding: 1em
    border: 1px solid black
    +border-radius(15px)
