<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Security-Policy"/>
  <title>APP | TEST</title>
<!--  <meta name="description" content="The HTML5 Herald">-->
<!--  <meta name="author" content="SitePoint">-->

  <link rel="stylesheet" href="public/stylesheets/styles.css">
  <link rel="stylesheet" href="public/libs/bootstrap-3.3.5/css/bootstrap.css">
  <link rel="stylesheet" href="public/font/font-awesome-4.5.0/css/font-awesome.css">
<!--  <link rel="stylesheet" href="public/font/glyphter-font/css/Glyphter.css">-->

</head>

<!--loading page    -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<body ng-app="todoApp">
    <nav id="menu" class="menu" >
      <header class="menu-header">
        <span class="menu-header-title">BARLESS</span>
      </header>

      <section class="menu-section">
        <h3 class="menu-section-title">What we can do</h3>
        <ul class="menu-section-list">
          <li><a href="#">Func1</a></li>
          <li><a href="#">Func2</a></li>
          <li><a href="#">Func3</a></li>
        </ul>
      </section>

    </nav>

    <main id="panel" class="panel">
<!--modal-->
    <div ng-controller="ModalDeleteCtrl">
        <!--modal-->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
<!--
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
-->

                <h4>Would you like to hide this record?</h4>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
            </div>

        </script>

<!--        <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>-->
<!--
        <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
-->



        <header class="panel-header">
        <!--          <button class="js-slideout-toggle">Menu Button</button>-->
            <div class="box-shadow-menu js-slideout-toggle"></div>
            <!--          <div class="mainIcon"><i class="fa fa-camera-retro" id="startScan"></i></div>-->
            <div class="mainIcon"><a id="open" ng-click="open()"><i class="fa fa-filter"></i></a></div>
            <div class="mainIcon"><a href="step.html"><i class="fa fa-floppy-o"></i></a></div>
        </header>

    </div>

    <!--display modal example-->
    <!--
          <section>
              <div>
                  <div custom-modals modal-id="myModal" modal-title="Modal example" modal-src="public/javascript/modal.js"></div>
              </div>
          </section>
    -->
    <!--end display modal example-->

<!--main unit-->
    <div id="mainbody" ng-controller="sortableController" class="barCodeContainer">
                <button ng-click="delete()">delete</button>
                <button ng-click="add()">add</button>
        <div class="row">
            <div class="col-xs-11">
                <ul ui-sortable="sortableOptions" ng-model="list" class="list">
                    <li ng-repeat="item in list" class="item">
                        <span id={{item.id}}>
                            <div class="viewHead">
                                <span class="viewIcon"><span class="myHandle"><i class="fa fa-th-list"></i></span></span>
                                <span class="viewTitle"><span class="viewMove"><i class="fa fa-times"></i></span></span>
<!--                                <span class="viewIcon"><i class="fa fa-credit-card-alt"></i></span>-->
<!--                            <div class="viewTitle"><span>{{item.text}}</span></div>-->
                            </div>
                            <div class="viewContent">
                                  <!-- Tab panes-->
                                <div class="gallery-content">
                                    <div class="grid">
                                        <div class="grid-item grid-item-height2"><img src={{item.barcodeImg}} alt="barcode Img" class="img-responsive"/></div>
                                        <div class="grid-item grid-item-height2"><img alt="" class="img-responsive"/></div>
                                        <div class="grid-item grid-item-height2">
                                            <p class="grid-text">This is a sample text using words, max wording(40)</p>
                                        </div>

                                    </div>
                                </div>
<!--
                                <div class="row">
                                    <div class="col-xs-4"><img src="public/img/barcode1.png" /></div>
                                    <div class="col-xs-4"><img src="public/img/credit-card.jpg" /></div>
                                    <div class="col-xs-4"><img src="public/img/note.png" /></div>
                                </div>
-->
                            </div>


<!--
                            <div class="viewFooter">
                                <span>NBS2931234-1231</span>
                            </div>
-->
<!--
                            <div class="slider row" id="slider" >
                                  <div class="col-xs-3 Barcode">Barcode Card Exp
                                      <button class="btn btn-small" data-toggle="modal" data-target="#myModal">Show</button>
                                  </div>
                                  <div class="col-xs-3 Barcode">Barcode icon</div>
                                  <div class="col-xs-3 Barcode">Barcode note</div>
                            </div>
                            <div class="row">
                                <div class="myHandle col-xs-2"></div>
                                <button class="myDelBtn col-xs-2" ng-click="test()">Click me</button>
                                <div class="title col-xs-8">{{item.text}}</div>
                            </div>
-->
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-text">
                  <span>Select a barcode printer that is fully capable of meeting requirements for durability, legibility, and speed of barcode generation.<br><small>--Max.GONG</small></span>
                  <br>

              </div>
            </div>
            <div class="item">
             <div class="carousel-text">
                 <span>Choosing the right barcode label can make a huge difference in your cost-savings.<br><small>-- Sales manager</small></span>
              </div>
            </div>
            <div class="item">
             <div class="carousel-text">
                 <span>Barcodes became commercially successful when they were used to automate supermarket checkout systems.<br><small>--Barcode History</small></span>
              </div>
            </div>

          </div>

          <!-- Controls -->
          <a id="leftArrow" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
          </a>
          <a id="rightArrow" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-chevron-right"></span>
          </a>
        </div> <!-- Carousel -->

    </div>
<!--end test unit-->

  <footer class="panel-footer">
    <p>Digital Innovation By Design, © TKIE, 2016</p>
  </footer>

</main>

</body>

<!-- add new javascript to our document /public/javascript/.* -->
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <script type="text/javascript" src="cordova.js"></script>
<!--angular js + plugin + bootstrap-->
    <script src="public/libs/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="public/libs/jquery-ui.min.js"></script>
    <script src="public/libs/jquery.ui.touch-pouch.js"></script>
    <script src="public/libs/angular.js" type="text/javascript"></script>
    <script src="public/libs/angularSortable.js" type="text/javascript"></script>
    <script src="public/libs/ui-bootstrap-tpls-1.2.4.min.js" type="text/javascript"></script>
    <script src="public/libs/bootstrap-3.3.5/js/bootstrap.js" type="text/javascript"></script>
    <script src="public/libs/pouchdb-5.2.1.min.js"></script>

<!--slide animation-->
    <script src="public/libs/hammer.js" type="text/javascript"></script>
    <script src="public/libs/slideout.js" type="text/javascript"></script>

<!--internal controller-->
    <script src="public/javascript/index.js" type="text/javascript"></script>
    <script src="public/javascript/controllers.js" type="text/javascript"></script>


    <script>
    $('.carousel').carousel({
        interval: 3000
    })
    </script>

<!--test unit-->
<!--    <script src="../public/javascript/Protractor.js" type="text/javascript"></script>-->
<!--    <script src="public/javascript/app.js" type="text/javascript"></script>-->

</html>
