<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Security-Policy"/>
  <title>APP | TEST</title>
<!--  <meta name="description" content="The HTML5 Herald">-->
<!--  <meta name="author" content="SitePoint">-->

  <link rel="stylesheet" href="public/stylesheets/styles.css">
  <link rel="stylesheet" href="public/libs/bootstrap-3.3.5/css/bootstrap.css">
  <link rel="stylesheet" href="public/font/font-awesome-4.5.0/css/font-awesome.css">

</head>

<body ng-app="stepApp">
    <div ng-controller="storeBarcodeController as db">
        <div class="container" id="mainBody">
          <ul class="nav nav-tabs" style="display:none">
            <li class="notificationTitle active"><a data-toggle="tab" href="#step1"></a></li>
            <li><a data-toggle="tab" href="#step2"></a></li>
            <li><a data-toggle="tab" href="#step3"></a></li>
          </ul>

          <div class="tab-content">
            <div id="step1" class="tab-pane fade in active">
                <div class="panel-header">
                    <div class="notificationIcon"><a class="right">NEXT</a></div>
                    <div class="notificationIcon"><a href="index.html" class="return">RETURN</a></div>
                </div>

                <div class="frame" onclick="scanCode();">
                    <div class="hex-outer h1"></div>
                    <div class="hex-outer h2"></div>
                    <div class="hex-outer h3"></div>
                    <div class="hex-inner h1"></div>
                    <div class="hex-inner h2"></div>
                    <div class="hex-inner h3"></div>
                    <div class="stepIcon"><i class="fa fa-barcode"></i></div>
                </div>
                <br />
                <div class="imageWrap">
                    <img class="stepImg" id="barcode">
                </div>
            </div>

            <div id="step2" class="tab-pane fade">
                <div class="panel-header">
                    <div class="notificationIcon"><a class="right">NEXT</a></div>
                    <div class="notificationIcon"><a class="left">BACK</a></div>
                </div>

                <div class="frame" onclick="takePicture();">
                    <div class="hex-outer h1"></div>
                    <div class="hex-outer h2"></div>
                    <div class="hex-outer h3"></div>
                    <div class="hex-inner h1"></div>
                    <div class="hex-inner h2"></div>
                    <div class="hex-inner h3"></div>
                    <div class="stepIcon"><i class="fa fa-credit-card"></i></div>
                </div>
                <br/>
                <div class="imageWrap">
                    <img class="stepImg" id="image">
                </div>


            </div>

            <div id="step3" class="tab-pane fade">
                <div class="panel-header">
                    <div class="notificationIcon"><a class="left">BACK</a></div>
                    <div class="notificationIcon"><a class="store" ng-click="db.click()">Save Barcode</a></div>
<!--
                    <div class="notificationIcon"><a class="store" ng-click="db.init()">init Barcode</a></div>
                    <div class="notificationIcon"><a class="store" ng-click="db.query()">query Barcode</a></div>
                    <div class="notificationIcon"><a class="store" ng-click="db.deleteDB()">delete Barcode</a></div>
-->
                </div>

                <div class="frame" onclick="">
                    <div class="hex-outer h1"></div>
                    <div class="hex-outer h2"></div>
                    <div class="hex-outer h3"></div>
                    <div class="hex-inner h1"></div>
                    <div class="hex-inner h2"></div>
                    <div class="hex-inner h3"></div>
                    <div class="stepIcon"><i class="fa fa-comments"></i></div>
                </div>
                <br/>
                <div class="imageWrap">
                    <form>
                        <input id="stepInput" class="stepInput" type="text" placeholder="{{inputPlaceholder}}"
                               ng-model="card.name"></input>
                        <textarea id="notebook" class="notebook" type="text" placeholder="{{textPlaceholder}}"          rows="7" cols="60"
                               ng-model="card.context"></textarea>
                    </form>

                <tt>name = {{card.name}}</tt><br/>
                <tt>context = {{card.context}}</tt><br/>
                </div>
            </div>
          </div>
        </div>

        <footer class="panel-footer">
            <p>Digital Innovation By Design, © TKIE, 2016</p>
        </footer>
    </div>

</body>

<!-- add new javascript to our document /public/javascript/.* -->
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script type="text/javascript" src="cordova.js"></script>
<!--angular js + plugin + bootstrap-->
    <script src="public/libs/jquery-2.2.0.min.js"></script>
    <script src="public/libs/jquery-ui.min.js"></script>
    <script src="public/libs/jquery.ui.touch-pouch.js"></script>
    <script src="public/libs/bootstrap-3.3.5/js/bootstrap.js"></script>
    <script src="public/libs/pouchdb-5.2.1.min.js"></script>
    <script src="public/libs/JsBarcode.all.min.js"></script>
    <script src="public/libs/angular.js"></script>

<!--slide animation-->
    <script src="public/libs/hammer.js" type="text/javascript"></script>

<!--test unit-->
<!--    <script src="../public/javascript/Protractor.js" type="text/javascript"></script>-->
    <script src="public/javascript/app.js" type="text/javascript"></script>
    <script src="public/javascript/step.js" type="text/javascript"></script>
    <script src="public/javascript/controllers.js" type="text/javascript"></script>
</html>
